<%= render 'shared/greeting' %>

<% if @user.teacher?  %>
  <section id="homeworksList">
    <h5>Homeworks:</h5>
    <ul>
      <%= render 'shared/homeworks_list' %>
    </ul>
  </section>
<% end %>

<section id="assignmentsList">
  <h5>Assignemts:</h5>
  <ul>
    <%= render 'shared/assignments_list' %>
  </ul>
</section>