<% @assignments.each do |assignment| %>
  <li class="assignment">
    <h6><%= assignment.homework.title %></h6>
    <p><%= assignment.homework.question %></p>
    <p><%= assignment.homework.due %></p>
    <% if Time.now <= assignment.homework.due %>
      <a href="<%= new_submission_path assignment %>"><button>Answer</button></a>
    <% end %>
  </li>
<% end %>